<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>خانه 9 - مکس کوچ</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <!-- <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome-pro.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-gilroy.css"> -->

    <!-- Plugins CSS (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="assets/css/plugins/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="assets/css/plugins/photoswipe.css">
    <link rel="stylesheet" href="assets/css/plugins/photoswipe-default-skin.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css"> -->

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">

</head>

<body>

    <div id="page">
        <!-- Header Section Start -->

        <%- include('./header' , {req , Sbrand :'' , category , card}) %>

        <!-- Header Section End -->

        <!-- Slider/Intro Section Start -->
        <div class="intro11-slider-wrap section">
            <div class="intro11-slider swiper-container">
                <div class="swiper-wrapper">

                    <div class="intro11-section swiper-slide section-fluid-two">

                        <div class="container">
                            <div class="row align-items-center">

                                <!-- Intro Content Start -->
                                <div class="col-lg-6 col-md-6">
                                    <div class="intro11-content text-left">
                                        <span class="sub-title">تاریخی</span>
                                        <h2 class="title">برترین های تابلو فرش تاریخی</h2>
                                        <a href="/brand" class="btn btn-primary-three btn-hover-secondary-three"> امروز شروع کنید </a>
                                    </div>
                                </div>
                                <!-- Intro Content End -->

                                <!-- Intro Image Start -->
                                <div class="col-lg-6 col-md-6">
                                    <div class="intro-image">
                                        <img src="assets/images/home_intro/takht.jpg" alt="intro">
                                    </div>
                                </div>
                                <!-- Intro Image End -->

                            </div>
                        </div>

                    </div>

                    <div class="intro11-section swiper-slide section-fluid-two">

                        <div class="container">
                            <div class="row align-items-center">

                                <!-- Intro Content Start -->
                                <div class="col-lg-6 col-md-6">
                                    <div class="intro11-content text-left">
                                        <span class="sub-title">منظره و طبیعت</span>
                                        <h2 class="title">لذت تماشای مناظر بکر و عالی در بهترین کیفیت و زاویه</h2>
                                        <a href="/brand" class="btn btn-primary-three btn-hover-secondary-three"> از برند محبوبت خرید کن </a>
                                    </div>
                                </div>
                                <!-- Intro Content End -->

                                <!-- Intro Image Start -->
                                <div class="col-lg-6 col-md-6">
                                    <div class="intro-image">
                                        <img src="assets/images/home_intro/poul.jpg" alt="intro">
                                    </div>
                                </div>
                                <!-- Intro Image End -->

                            </div>
                        </div>

                    </div>

                    <div class="intro11-section swiper-slide section-fluid-two">

                        <div class="container">
                            <div class="row align-items-center">

                                <!-- Intro Content Start -->
                                <div class="col-lg-6 col-md-6">
                                    <div class="intro11-content text-left">
                                        <span class="sub-title">مجلی - کلاسیک </span>
                                        <h2 class="title">کلاسیک اروپایی و مجلسی را حس کنید</h2>
                                        <a href="/brand" class="btn btn-primary-three btn-hover-secondary-three"> از برند محبوبت خرید کن </a>
                                    </div>
                                </div>
                                <!-- Intro Content End -->

                                <!-- Intro Image Start -->
                                <div class="col-lg-6 col-md-6">
                                    <div class="intro-image">
                                        <img src="assets/images/home_intro/majlesi.jpg" alt="intro">
                                    </div>
                                </div>
                                <!-- Intro Image End -->

                            </div>
                        </div>

                    </div>

                </div>
                <div class="home11-slider-prev swiper-button-prev main-slider-nav"><i class="fal fa-angle-right"></i></div>
                <div class="home11-slider-next swiper-button-next main-slider-nav"><i class="fal fa-angle-right"></i></div>
            </div>

            <!-- Animation Shape Start -->
            <div class="shape shape-1 scene">
                <span data-depth="3">
                    <img src="assets/images/intro/intro11/maxcoach-shape-15.png" alt="">
                </span>
            </div>
            <div class="shape shape-2 scene">
                <span data-depth="3">
                    <!-- <img src="assets/images/intro/intro11/kitchen-shape-strawberry.png" alt=""> -->
                </span>
            </div>
            <div class="shape shape-3 scene">
                <span data-depth="3">
                    <img src="assets/images/shape-animation/maxcoach-shape-16.png" alt="">
                </span>
            </div>
            <!-- Animation Shape End -->
        </div>
        <!-- Slider/Intro Section End -->

        <!-- Feature Section Start -->
        <div class="section section-padding">
           
        </div>
        <!-- baner -->
        <div class="page-banner-slider section">
            <div class="banner-slider swiper-container">

                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <!--Banner Slider Item start-->
                        <div class="banner-slider-item" data-bg-image="firstbaner/133.bmp">
                            <div class="container">
                                <div class="row row-25 banner-content-area">
                                    <div class="col-lg-4">
                                        <div class="banner-slider-content-2 right">
                                            <h1>کیفیت <br> در خور <br>شماست </h1>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">

                                        <!--Banner Slider Content start-->
                                        <div class="banner-slider-content-2 left">
                                            <h3>
                                                <span class="number">01</span>
                                                <span class="line"></span>
                                              تابلو فرش ابری
                                            </h3>
                                            <p>تابلو فرش ابری تولید کننده نفیس ترین تابلوفرش</p>
                                        </div>
                                        <!--Banner Slider Content end-->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Banner Slider Item end-->
                    </div>

                    <div class="swiper-slide">
                        <!--Banner Slider Item start-->
                        <div class="banner-slider-item" data-bg-image="firstbaner/133.bmp">
                            <div class="container">
                                <div class="row row-25 banner-content-area">
                                    <div class="col-lg-4">
                                        <div class="banner-slider-content-2 right">
                                            <h1>کیفیت <br> یک هدیه هست <br>برای شما </h1>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">

                                        <!--Banner Slider Content start-->
                                        <div class="banner-slider-content-2 left">
                                            <h3>
                                                <span class="number">01</span>
                                                <span class="line"></span>
                                               فرش خبازی
                                            </h3>
                                            <p>سابقه ما تضمین ما، کیفیت ما افتخار ما</p>
                                        </div>
                                        <!--Banner Slider Content end-->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Banner Slider Item end-->
                    </div>

                    <div class="swiper-slide">
                        <!--Banner Slider Item start-->
                        <div class="banner-slider-item" data-bg-image="assets/images/page-banner/start-here-hero-slide-03-bg.jpg">
                            <div class="container">
                                <div class="row row-25 banner-content-area">
                                    <div class="col-lg-4">
                                        <div class="banner-slider-content-2 right">
                                            <h1>نویسندگی شما <br>   همراه با <br>عشق است </h1>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">

                                        <!--Banner Slider Content start-->
                                        <div class="banner-slider-content-2 left">
                                            <h3>
                                                <span class="number">03</span>
                                                <span class="line"></span>
                                                پیشرفت مهارت
                                            </h3>
                                            <p>نه تنها مهارت های شما پیشرفته است ، بلکه درونیاتان نیز می توانند هویت جدیدی کسب کنند. این شما هستید که کنترل کامل کتاب زندگی خود را در دست می گیرید.</p>
                                        </div>
                                        <!--Banner Slider Content end-->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Banner Slider Item end-->
                    </div>

                </div>

                <div class="banner-slider-prev swiper-button-prev banner-slider-nav"><i class="fal fa-angle-right"></i></div>
                <div class="banner-slider-next swiper-button-next banner-slider-nav"><i class="fal fa-angle-right"></i></div>

            </div>
        </div>
        <!-- Feature Section End -->

        <!-- 6 last prouduct -->
        <div class="section section-padding" data-bg-color="#FAF8F6">
            <div class="container">

                <!-- Section Title Start -->
                <div class="section-title text-center" data-aos="fade-up">
                    <span class="sub-title">آخرین های اضافه شده</span>
                    <h2 class="title fz-48">جدیدترین <span> محصولات</span></h2>
                </div>
                <!-- Section Title End -->

                <!-- Course Wrapper Start -->
                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 max-mb-n30">

                    <!-- Course Start -->
                    <% Lproduct.forEach(pro=>{ %>
                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="course-4">
                            <div class="thumbnail">
                                <a href="/product_details/<%- pro.slug %>" class="image"><img src="<%- pro.IMG1080 %>" alt="تصویر دوره"></a>
                            </div>
                            <div class="info">
                                <span class="price"><%- price(pro.price) %> تومان<span> </span></span>
                                <div class="course-instructor">
                                    <div class="instructor-avatar">
                                        <img src="assets/images/courses/course-avatar.jpg" alt="">
                                    </div>
                                    <span class="instructor-name"><%- pro.seller.brand %></span>
                                </div>
                                <h3 class="title"><a href="/product_details/<%- pro.slug %>"><%- pro.title %></a></h3>
                                <ul class="meta">
                                    <!-- <li><i class="far fa-file-alt"></i>20 درس</li>
                                    <li><i class="far fa-user-alt"></i>51 دانش آموز</li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <!-- Course End -->


                </div>
                <!-- Course Wrapper End -->

                <div class="row max-mt-40">
                    <div class="text-center col-lg-7 mx-auto">
                        <a href="/shop" class="btn btn-primary btn-hover-secondary"> مشاهده همه محصولات <i class="far fa-long-arrow-right ml-3"></i></a>
                    </div>
                </div>

            </div>

            <!-- Section Bottom Shape Start -->
            <div class="section-bottom-shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" height="100">
                    <path class="elementor-shape-fill" d="M 0 0 L0 100 L100 100 L100 0 Q 50 200 0 0"></path>
                </svg>
            </div>
            <!-- Section Bottom Shape End -->
        </div>

        <!-- most like Section Start -->
        <div class="service-section section section-padding" data-bg-color="#f8f8f8">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section-title-two text-center" data-aos="fade-up">
                    <span class="sub-title">پر لایک ترین ها</span>
                    <h2 class="title fz-48">محبوب ترین محصولات</h2>
                </div>
                <!-- Section Title End -->

                <div class="service-slider swiper-container" data-aos="fade-up">

                    <div class="swiper-wrapper">
                        <% Pproduct.forEach(pro=>{ %>

                        <div class="swiper-slide">
                            <!-- Single Service Start -->
                            <a href="/product_details/<%- pro.slug %>" class="service">
                                <div class="image">
                                    <img src="<%- pro.IMG1080 %>" alt="">
                                </div>
                                <div class="content">
                                    <h3 class="title"><%- pro.title %></h3>
                                    <!-- <p>با مربی که به چندین مسئله که تعادل ندارند ، بپردازد و به روش های مختلفی که در نظر نگرفته اید ، بر کسب و کار شما تأثیر بگذارد.</p> -->
                                    <p><%- pro.seller.brand %></p>
                                    <div class="button-wrap">
                                        <span class="link">	<%- price(pro.price) %> تومان<i class="far fa-long-arrow-right"></i></span>
                                    </div>
                                </div>
                            </a>
                            <!-- Single Service End -->
                        </div>
                        <% }) %>


                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>

        </div>
        <!-- most like Section End -->

        <!-- most sold Section Start -->
         <div class="service-section section section-padding" data-bg-color="#f8f8f8">
                    <div class="container">
                        <!-- Section Title Start -->
                        <div class="section-title-two text-center" data-aos="fade-up">
                            <span class="sub-title">بیشترین فروشه هفته</span>
                            <h2 class="title fz-48">پر فروش ترین محصولات</h2>
                        </div>
                        <!-- Section Title End -->
        
                        <div class="service-slider swiper-container" data-aos="fade-up">

                            <div class="swiper-wrapper">
                                <% Sproduct.forEach(pro=>{ %>

                                <div class="swiper-slide">
                                    <!-- Single Service Start -->
                                    <a href="/product_details/<%- pro.slug %>" class="service">
                                        <div class="image">
                                            <img src="<%- pro.IMG1080 %>" alt="">
                                        </div>
                                        <div class="content">
                                            <h3 class="title"><%- pro.title %></h3>
                                            <!-- <p>با مربی که به چندین مسئله که تعادل ندارند ، بپردازد و به روش های مختلفی که در نظر نگرفته اید ، بر کسب و کار شما تأثیر بگذارد.</p> -->
                                            <p><%- pro.seller.brand %></p>
                                            <div class="button-wrap">
                                                <span class="link"><%- price(pro.price) %> تومان <i class="far fa-long-arrow-right"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- Single Service End -->
                                </div>
                                <% }) %>

                             
        
                            </div>
        
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
        
         </div>
         <!-- most sold Section End -->

        <!-- most cheap Section Start -->
        <div class="service-section section section-padding" data-bg-color="#f8f8f8">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section-title-two text-center" data-aos="fade-up">
                    <span class="sub-title">کم قیمت ترین های هفته</span>
                    <h2 class="title fz-48">ارزان ترین محصولات</h2>
                </div>
                <!-- Section Title End -->

                <div class="service-slider swiper-container" data-aos="fade-up">

                    <div class="swiper-wrapper">
                        <% Cproduct.forEach(pro=>{ %>

                        <div class="swiper-slide">
                            <!-- Single Service Start -->
                            <a href="/product_details/<%- pro.slug %>" class="service">
                                <div class="image">
                                    <img src="<%- pro.IMG1080 %>" alt="">
                                </div>
                                <div class="content">
                                    <h3 class="title"><%- pro.title %></h3>
                                    <!-- <p>با مربی که به چندین مسئله که تعادل ندارند ، بپردازد و به روش های مختلفی که در نظر نگرفته اید ، بر کسب و کار شما تأثیر بگذارد.</p> -->
                                    <p><%- pro.seller.brand %></p>
                                    <div class="button-wrap">
                                        <span class="link"><%- price(pro.price) %> تومان<i class="far fa-long-arrow-right"></i></span>
                                    </div>
                                </div>
                            </a>
                            <!-- Single Service End -->
                        </div>
                        <% }) %>

                       

                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>

        </div>
        <!-- most cheap Section End -->

        <!-- brand Section Start -->
        <div class="course-section section section-fluid section-padding">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section-title-two text-center" data-aos="fade-up">
                    <span class="sub-title">محصولات هر برند</span>
                    <h2 class="title fz-48">برند های فعال</h2>
                </div>
                <!-- Section Title End -->

                <div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1 max-mb-n30">
                    <% berand.forEach(user=>{ %>
                    <div class="col max-mb-30">
                        <div class="course-6">
                            <div class="thumbnail">
                                <a class="image" href="/shop/<%- user.userName %>">
                                    <img style="width: 443px; height: 500px;" src="<%- user.logo %>"" alt="">
                                    <div class="course-overlay-bg"></div>
                                </a>
                            </div>
                            <div class="info">
                                <div class="course-caption-main">
                                    <span class="price"><%- user.fullName %><span> </span></span>
                                    <h3 class="title"><a href="/shop/<%- user.userName %>"><%- user.brand %></a></h3>
                                </div>
                                <div class="course-caption-collapse">
                                    <ul class="meta">
                                        <li><i class="far fa-file-alt"></i><%- user.n_product %> محصول</li>
                                        <!-- <li><i class="far fa-user-alt"></i>51 دانش آموز</li> -->
                                    </ul>
                                    <div class="desc">
                                        <p><%- user.Slogan %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>


                </div>

                <div class="row max-mt-70">
                    <div class="text-center col-xl-4 col-lg-7  mx-auto">
                        <a class="link link-lg" href="/brand">آیا مایل به جست و جو در برند ها هستید؟ <mark>مشاهده همه برند ها  <i class="far fa-long-arrow-right"></i></mark></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Course Section End -->

        <!-- Faq Section Start -->
        <div class="faq-section section section-padding" data-bg-color="#323043" data-bg-image="assets/images/bg/map-dots-top-right-transparent.png">
            <div class="container">
                <div class="row align-items-center">
                    
                </div>
            </div>
        </div>
        <!-- Faq Section End -->

        <!-- Event Section Start -->
        <div class="event-section section position-relative section-padding">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section-title-two text-center" data-aos="fade-up">
                    <span class="sub-title">بیا با هم رویای بزرگ داشته باشیم</span>
                    <h2 class="title fz-48">رویدادهای آینده</h2>
                </div>
                <!-- Section Title End -->

                <div class="row row-cols-lg-2 row-cols-1 max-mb-n30">
                    <h4>فعلا رویدادی وجود ندارد</h4>

                    <!-- <div class="col max-mb-30" data-aos="fade-up">
                        <div class="event-list-box">
                            <div class="event-caption">
                                <div class="left-box">
                                    <div class="event-location">
                                        <i class="far fa-map-marker-alt"></i>
                                        تهران، کرج
                                    </div>
                                    <h3 class="title">کارگاه قصه گویی</h3>
                                </div>
                                <div class="right-box">
                                    <div class="event-date">
                                        <div class="event-date-day">22</div>
                                        <div class="event-date-month">دی </div>
                                    </div>
                                    <div class="event-button">
                                        <a class="btn btn-primary btn-hover-secondary btn-xs" href="event-details.html">دریافت بلیط</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="event-list-box">
                            <div class="event-caption">
                                <div class="left-box">
                                    <div class="event-location">
                                        <i class="far fa-map-marker-alt"></i>
                                        ایران، ارومیه
                                    </div>
                                    <h3 class="title">مسابقه هنر نقاشی 1399</h3>
                                </div>
                                <div class="right-box">
                                    <div class="event-date">
                                        <div class="event-date-day">10</div>
                                        <div class="event-date-month">بهمن</div>
                                    </div>
                                    <div class="event-button">
                                        <a class="btn btn-primary btn-hover-secondary btn-xs" href="event-details.html">دریافت بلیط</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="event-list-box">
                            <div class="event-caption">
                                <div class="left-box">
                                    <div class="event-location">
                                        <i class="far fa-map-marker-alt"></i>
                                        تبریز
                                    </div>
                                    <h3 class="title">نمایشگاه بین المللی هنر 1399</h3>
                                </div>
                                <div class="right-box">
                                    <div class="event-date">
                                        <div class="event-date-day">23</div>
                                        <div class="event-date-month">دی </div>
                                    </div>
                                    <div class="event-button">
                                        <a class="btn btn-primary btn-hover-secondary btn-xs" href="event-details.html">دریافت بلیط</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="event-list-box">
                            <div class="event-caption">
                                <div class="left-box">
                                    <div class="event-location">
                                        <i class="far fa-map-marker-alt"></i>
                                        ترکیه
                                    </div>
                                    <h3 class="title">اجرای خیابان: فراخوان هنرمند</h3>
                                </div>
                                <div class="right-box">
                                    <div class="event-date">
                                        <div class="event-date-day">15</div>
                                        <div class="event-date-month">اسفند</div>
                                    </div>
                                    <div class="event-button">
                                        <a class="btn btn-primary btn-hover-secondary btn-xs" href="event-details.html">دریافت بلیط</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="event-list-box">
                            <div class="event-caption">
                                <div class="left-box">
                                    <div class="event-location">
                                        <i class="far fa-map-marker-alt"></i>
                                        ترکیه
                                    </div>
                                    <h3 class="title">همایش آموزش ایمنی مواد غذایی مصرف کننده</h3>
                                </div>
                                <div class="right-box">
                                    <div class="event-date">
                                        <div class="event-date-day">22</div>
                                        <div class="event-date-month">فروردین</div>
                                    </div>
                                    <div class="event-button">
                                        <a class="btn btn-primary btn-hover-secondary btn-xs" href="event-details.html">دریافت بلیط</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col max-mb-30" data-aos="fade-up">
                        <div class="event-list-box">
                            <div class="event-caption">
                                <div class="left-box">
                                    <div class="event-location">
                                        <i class="far fa-map-marker-alt"></i> دبی
                                    </div>
                                    <h3 class="title">چگونه مدیتیشن سلامت روانی شما را بهبود می بخشد؟</h3>
                                </div>
                                <div class="right-box">
                                    <div class="event-date">
                                        <div class="event-date-day">12</div>
                                        <div class="event-date-month">فروردین</div>
                                    </div>
                                    <div class="event-button">
                                        <a class="btn btn-primary btn-hover-secondary btn-xs" href="event-details.html">دریافت بلیط</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>

                <!-- <div class="row max-mt-70">
                    <div class="text-center col-lg-7 mx-auto">
                        <a class="link link-lg" href="event.html">از رویداد ما هیجان زده اید؟<mark>نمایش تمام رویدادها <i class="far fa-long-arrow-right"></i></mark></a>
                    </div>
                </div> -->


            </div>

            <!-- Section Bottom Shape Start -->
            <div class="section-bottom-shape-two">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" height="315">
                    <path class="elementor-shape-fill" d="M 50 0 S75 0 100 100 L100 0"></path>
                </svg>
            </div>
            <!-- Section Bottom Shape End -->
        </div>
        <!-- Event Section End -->


        <!-- Newsletter Section Start -->
        <div class="newsletter-section-two section fix section-padding position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="newsletter-content">
                            <h2 class="title fz-48">عضویت در <span>خبرنامه</span></h2>
                            <p>آدرس ایمیل خود را وارد کنید تا در اشتراک خبرنامه ما ثبت نام کنید <br class="d-none d-md-block">تحویل به صورت منظم! </p>
                            <div class="newsletter-form">
                                <form action="#">
                                    <input type="email" placeholder="ایمیل شما">
                                    <button class="btn btn-primary btn-hover-secondary">عضویت</button>
                                </form>
                            </div>

                            <!-- Animation Shape Start -->
                            <div class="shape shape-1 scene">
                                <span data-depth="4">شکل 3</span>
                            </div>
                            <div class="shape shape-2 scene">
                                <span data-depth="4"><img src="assets/images/shape-animation/nwesletter-shape-1.png" alt=""></span>
                            </div>
                            <div class="shape shape-3 scene">
                                <span data-depth="4"><img src="assets/images/shape-animation/nwesletter-shape-2.png" alt=""></span>
                            </div>
                            <!-- Animation Shape End -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter Section End -->

        <%- include('./footer' ) %>


        <!-- Scroll Top Start -->
        <a href="#" class="scroll-top" id="scroll-top">
            <i class="arrow-top fal fa-long-arrow-up"></i>
            <i class="arrow-bottom fal fa-long-arrow-up"></i>
        </a>
        <!-- Scroll Top End -->
    </div>

    <%- include('./mobileHeader' , {req , card}) %>


    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <!-- <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script> -->

    <!-- Plugins JS -->
    <!-- <script src="assets/js/plugins/parallax.min.js"></script>
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>

    <!-- Main Activation JS -->
    <script src="assets/js/main.js"></script>





</body>


</html>